{% extends 'ToDoListBundle:Default:index.html.twig' %}

{% block title %}
    Tasks
{% endblock %}

{% block header %}
    <div class="container">
        <h1>Tasks</h1>
    </div>
{% endblock %}

{% block menu %}
    {{ parent() }}
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path("todolist_tasks", {"idList" : app.request.get("idList")}) }}">Back to the Tasks</a>
            </li>
            <li>
                <a href="{{ path("todolist_add_task", { "idList" : app.request.get("idList")}) }}">Create a new task</a>
            </li>
        </ul>
    </div>
{% endblock %}
