{% extends 'ToDoListBundle:Default:index.html.twig' %}

{% block title %}
    TasksList
{% endblock %}

{% block header %}
    <div class="container">
        <h1>TasksList</h1>
    </div>
{% endblock %}

{% block menu %}
    {{ parent() }}
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path("todolist_add_tasklist") }}">Create a new TaskList</a>
            </li>
        </ul>
    </div>
{% endblock %}
