{% extends 'ToDoListBundle:Google:taskslistGoogle.base.html.twig' %}

{% block content %}
    <label for="message"><h3><span class="label label-default">Manage your TasksList</span></h3></label><br/>
{% endblock %}