{% extends 'ToDoListBundle:Google:index.html.twig' %}

{% block title %}
    Tasks Google
{% endblock %}

{% block header %}
    <div class="container">
        <h1>Tasks Google</h1>
    </div>
{% endblock %}

{% block menu %}
    {{ parent() }}
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path("todolist_google_tasks", {"idList" : app.request.get("idList")}) }}">Back to the TaskList</a>
            </li>
            <li>
                <a href="{{ path("todolist_google_add_task", { "idList" : app.request.get("idList")}) }}">Create a new task</a>
            </li>
        </ul>
    </div>
{% endblock %}
